
*{
    box-sizing: border-box;
}
body,h1,input,div,label{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#010b13;
    background-position: center;
    font-family: 'Orbitron', sans-serif;
}

h1{
    font-size: 2.3rem;
    color:#f2b705
}

.pitch-container{
    background-color:#031825;
    width: 100%;
    height: 50dvh;
    margin-top: 20px;
    background-size: 104%;
    background-position: center;
    display: grid;
    grid-template-areas:". . dc . ."
                        "ei . . . ed"
                        ". . mco . ."
                        ". mc2 . mc1 ."
                        "li . . . ld"
                        ". dfc2 . dfc1 ."
                        ". . arq . .";
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #0096a9;
}

.player-container{
    width:auto;
    height: 60%;
    background-color: transparent;
    border: 1px solid #0096a9;
    border-radius: 5px;
    color:#aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: .7rem;
    transform: scale(1.3);
    text-align: center;
    padding: 10px;
}
.player-container:hover{
    opacity: .8;
}
.dc  { grid-area: dc; }
.ei  { grid-area: ei; }
.ed  { grid-area: ed; }
.mco { grid-area: mco; }
.mc1  { grid-area: mc1; }
.mc2{grid-area: mc2;}
.li  { grid-area: li; }
.ld  { grid-area: ld; }
.dfc1 { grid-area: dfc1; }
.dfc2{grid-area: dfc2;}
.arq { grid-area: arq; }


.input-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap:5px;
    margin-top: 30px;
}
.playerName{
    padding: 12px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #0096a9;
    background-color: transparent;
    color: #aaa;
}
.playerName::placeholder{
    color:#aaa
}
input[type="text"]~label{
    margin-bottom: 10px;
}
label{
    font-size: 1rem;
    color:#0096a9;
    text-align: center;
    font-weight: 600;
}
.option-container{
    display: flex;
    justify-content: center;
    gap:30px
}


@media (min-width:26.5625rem) {
    .pitch-container{
        width: 26.5635rem;
    }
}


@media (min-width:48rem) {
    .pitch-container{
        width: 40rem;
        height: 70dvh;
    }
    .input-container{
        width: 30%;
        margin-top: 15px;
    }
    .player-container{
        height: 60%;
        font-size: .8rem;
    }
    .playerName{
        padding: 10px;
    }
}